input,
textarea {
  box-shadow: 0px 0px 7.88652px rgba(239, 165, 69, 0.25);
  border-radius: 1rem;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  font-family: sans-serif;
}

input {
  width: 25rem;
}

input[type="submit"] {
  color: #fff;
  background-color: #ef7a1e;
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  cursor: pointer;
}

.section-contact {
}

.section-contact .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.section-contact .container img.left {
}

.section-contact .container .right {
  display: flex;
  flex-direction: column;
}

.section-contact .container .right .personal-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.section-contact .container .right .message-box {
  display: flex;
  flex-direction: column;
}

.section-contact .container .right .personal-info div,
.section-contact .container .right .message-box div {
  display: flex;
  flex-direction: column;
}

.section-contact .container .right label {
  padding-bottom: 0.5rem;
}

/* ////////////////////// */

@media screen and (max-width: 376px) {
  input,
  textarea {
    box-shadow: 0px 0px 7.88652px rgba(239, 165, 69, 0.25);
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    margin-bottom: 1rem;
    outline: none;
    font-family: sans-serif;
  }

  input {
    /* width: 3rem; */
  }

  input[type="submit"] {
    color: #fff;
    background-color: #ef7a1e;
    width: fit-content;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    cursor: pointer;
  }

  .section-contact {
  }

  .section-contact .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
  }

  .section-contact .container img.left {
    width: 100%;
  }

  .section-contact .container .right {
    display: flex;
    flex-direction: column;
  }

  .section-contact .container .right .personal-info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .section-contact .container .right .message-box {
    display: flex;
    flex-direction: column;
  }

  .section-contact .container .right .personal-info div,
  .section-contact .container .right .message-box div {
    display: flex;
    flex-direction: column;
  }

  .section-contact .container .right label {
    padding-bottom: 0.5rem;
  }
}
